html {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100vh;
    
}

body{
    margin:0 auto;
    color:#444;
}

header{
    text-align: center;
}

header p{
    margin:0.7em;
    font-size: 19px;
}

#tetris-game{
    width:100%;
    height:100%;
    background-color:#333;
    box-shadow: 5px 5px #114357;
}

.game-btn{
    background-color:inherit;
    padding:7px 16px;
    color:#333;
    font-size: 13px;
    font-weight: 600;
    border:1px solid #333;
    box-shadow: 2px 2px #333;
    
}

.game-section{
    width:400px;
    height:450px;
    margin:0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding:1em;
}

.game-section .navigation{
    text-align: center;
    margin: 0.2em;
}
